{% extends "about.html" %}
{% block content %}

        <h2>View Database</h2>
        <form action="/showdb" method="POST" >
            <input type="submit" value="View">
        </form>

        <h2>Number of rows</h2>
        <form action="/magnitude" method="POST" >
            <input type="submit" value="Search">
         </form>

         <form action="/location" method="POST" >
            Latitude 1: <input type="text" name="lat1">
            Longitude 1: <input type="text" name="lon1">
            Latitude 2: <input type="text" name="lat2">
            Longitude 2: <input type="text" name="lon2">                               
             <input type="submit" value="Search">
         </form>


{% endblock content %}

