<h1>Raja Krishna 1001671629</h1>
retrieved from database<br>
<table>
    <tr>
        <th>time</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>mag</th>
        
    </tr>
    {% for row in rows %}
        <tr>
            <td>
                {{row['time']}}
            </td>
            <td>
                {{row['latitude']}}
            </td>
            <td>
                {{row['longitude']}}
            </td>
            <td>
                {{row['mag']}}
            </td>

        </tr>

    {% endfor %}
</table>